@model List<FW2017.Models.PortfolioImg>
@{
    ViewBag.Title = "CreateFile";
}
<style type="text/css">
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .card-img-top {
        position: relative;
        background: #f5f7fa;
        height: 400px;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        border: 1px solid #eee;
        overflow: hidden;
    }
</style>
<section class="section-container">
    <!-- Page content-->
    <div class="content-wrapper">
        <div class="content-heading">
            <div>
                編輯 @ViewBag.portfolio_name
                <small></small>
            </div>
        </div>
        <!-- START row-->
        <div class="row">
            <div class="col-xl-12">
                <form method="post" data-parsley-validate="" novalidate="" enctype="multipart/form-data">
                    <!-- START card-->
                    <div class="card card-default">
                        <div class="card-header">                           
                            <div class="card-title">作品圖片</div>
                            <p style="color:red">
                                作品圖片格式說明︰圖片格式需爲PEG、JPG上傳作品圖片需爲橫式，寬度需在1500以上。
                            </p>
                            <input class="form-control" type="text" name="id" value=@ViewBag.id style="display:none">
                            <input class="form-control" type="text" name="portfolio_name" value=@ViewBag.portfolio_name style="display:none">
                            <input class="form-control" type="text" name="portfolio_status" value=@ViewBag.portfolio_status style="display:none">
                            <div class="row align-items-stretch">
                                @foreach (var item in Model)
                                {

                                    <div class="card imgGroup col-md-4">
                                        <div class="card-img-top">
                                            <img class="img-fluid" src="@Url.Content(item.pro_img)" alt="Image">
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title">圖片說明<input class="form-control imgid" type="text" name="imgid" value=@item.id style="display:none"></h5>
                                            <p class="card-text"><input class="form-control imgid" type="text" name="pro_des" value=@item.pro_des></p>
                                            <a href="javascript:void(0)" class="btn btn-danger removeimg">刪除</a>
                                        </div>
                                    </div>

                                }
                            </div>
                            <input class="form-control" type="text" id="deleteid" name="deleteid" style="display:none">
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="form-group">
                                    <div class="input-group-addon">
                                        <a href="javascript:void(0)" class="btn btn-success addMore">新增作品圖片</a>
                                    </div>
                                </div>
                                <div class="form-group row fieldGroup">
                                    <div class="col-md-4 mb-3 file_re">
                                        <label class="col-form-label">圖片1</label>
                                        <div class="file_re">
                                            <input type="file" name="Imgs" id="file" class="form-control" />
                                        </div>
                                           
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label">說明</label>
                                        <input type="text" name="des" class="form-control" placeholder="輸入說明" />
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label"> </label>
                                        <div class="input-group-addon">
                                            <a href="javascript:void(0)" class="btn btn-danger remove">刪除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- copy of input fields group -->

                            <div class="form-group fieldGroupCopy" style="display: none;">
                                <div class="form-group row">
                                    <div class="col-md-4 mb-3">
                                        <label class="col-form-label imgtext">圖片</label>
                                        <input type="file" name="Imgs" class="form-control" />
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label class="col-form-label">說明</label>
                                        <input type="text" name="des" class="form-control" placeholder="輸入說明" />
                                    </div>
                                    <div class="col-md-2 mb-3">
                                        <label class="col-form-label"> </label>
                                        <div class="input-group-addon">
                                            <a href="javascript:void(0)" class="btn btn-danger remove">刪除</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="card-footer">
                            @Html.ActionLink("取消", "Index", "Portfolio", null, new { @class = "btn btn-secondary btn-large" })
                            <button id="btn" class="btn btn-success" type="submit">儲存</button>
                        </div>
                    </div>
                    <!-- END card-->
                </form>
            </div>
        </div>
        <!-- END row-->
    </div>
</section>

@section Scripts{
    <script src="~/Content/admin/vendor/bootstrap-filestyle/src/bootstrap-filestyle.js"></script>
    <!-- PARSLEY-->
    <script src="~/Content/admin/vendor/parsleyjs/dist/parsley.js"></script>
    <script>
        $(document).ready(function () {
            //group add limit
            var maxGroup = 10;
            var delid = [];

            //add more fields group
            var c = 1;
            $(".addMore").click(function () {
                c = c + 1;
                if ($('.card-body').find('.fieldGroup').length < maxGroup) {
                    var fieldHTML =
                        '<div class="form-group fieldGroup">' +
                            '<div class="form-group fieldGroupCopy">' +
                                '<div class="form-group row">' +
                                    '<div class="col-md-4 mb-3">' +
                                        '<label class="col-form-label">圖片' + c+'</label>' +
                                        '<input type="file" name="Imgs" class="form-control fileup" />' +
                                     '</div>' +
                                     '<div class="col-md-6 mb-3">' +
                                        '<label class="col-form-label">說明</label>' +
                                        '<input type="text" name="des" class="form-control" placeholder="輸入說明" />' +
                                     '</div>' +
                                     '<div class="col-md-2 mb-3">' +
                                        '<label class="col-form-label"> </label>' +
                                     '<div class="input-group-addon">' +
                                        '<a href="javascript:void(0)" class="btn btn-danger remove">刪除</a>' +
                                    '</div>' +
                                    '</div>' +
                                '</div>' +
                            '</div>' +
                        '</div>';
                    
                    $('.card-body').find('.fieldGroup:last').after(fieldHTML);
                } else {
                    alert('Maximum ' + maxGroup + ' groups are allowed.');
                }
            });

            //remove fields group
            $(".card-body").on("click", ".remove", function () {
                $(this).parents(".fieldGroup").remove();
            });
            //remove fields group
            $(".imgGroup").on("click", ".removeimg", function () {
                console.log($(this));
                var a = $(this).parents('.imgGroup').find(".imgid").val();
                delid.push(a);
                console.log(delid);
                $(this).parents(".imgGroup").remove();
                $('#deleteid').val(delid);

            });
            var _URL = window.URL || window.webkitURL;
            $("#file").change(function (e) {
                var file, img;

                if ((file = this.files[0])) {
                    img = new Image();
                    img.onload = function () {
                        if (this.width < this.height) {
                            $("#btn").attr('disabled', 'disabled');
                            alert('請上傳橫式照片');
                        }
                        else {
                            $("#btn").removeAttr('disabled');
                        }     
                    };
                    img.onerror = function () {
                        alert("not a valid file: " + file.type);
                    };
                    img.src = _URL.createObjectURL(file);

                }                

            }); 

            function clearFileInputField(tagId) {
                console.log(tagId);
                var a = document.getElementsByClassName('file_re').innerHTML;
                console.log(a);
                document.getElementsByClassName('file_re').innerHTML = document.getElementsByClassName('file_re').innerHTML;

            }
               
        });
    </script>
}
