
@{
    ViewBag.Title = "starter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!------------  breadcrumb  -------------->
<div class="view">
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href='@Url.Action("Index", "Home")'>首頁</a></li>
            <li class="breadcrumb-item"><a href='@Url.Action("Starter", "Home")'>緣起</a></li>
        </ol>
    </div>
</div>

<!------------  articleBox  -------------->
<div class="articleBox">
    <div class="bg-line"></div>
    <h1 class="articleBox__topbar">緣起</h1>
    <div class="view-border">
        <div class="view">
            <div class="articleBox__banner"></div>
        </div>
    </div>
</div>

<!------------  shared button  -------------->
<div class="sharedBtnBox">
    <div class="bg-line"></div>
    <div class="view-border">
        <div class="view">
            <div id="fb-root"></div>
            <!-- Your share button code -->
            <button class="btn btn-empty btn-hover-line">
                <span class="txt">share to facebook</span><span class="hover-line horizon"></span>
                <div class="fb-share-button"
                     data-href="@Request.Url.AbsoluteUri"
                     data-layout="button_count">
                </div>
            </button>
        </div>
    </div>
</div>

<!------------  artDetailBox  -------------->
<div class="artDetailBox starter">
    <div class="view-border">
        <div class="view">
            <div class="artDetailBox__item">
                <div class="artDetailBox__item__cont">
                    <p>
                        為提升環境品質，美化公共空間，培植民眾美感素養，我國於民國81年立法通過「文化藝術獎助條例」，規範公有建築物及政府重大公共工程應設置藝術品，藝術品造價不得少於建築物造價之百分之一；民國87年，文化部發布「公共藝術設置辦法」，開始公共藝術政策的施行。配合政府推動公共藝術，高速公路局與國道興建工程局因此依法於高速公路沿線服務區、交流道、陸橋等可設置之地點設置43件公共藝術作品；這些優美且各獨具風格的公共藝術作品不僅成為用路人津津樂道的美感經驗，也間接促進了的高速公路沿線的觀光旅遊活動。
                        根據文化藝術獎助條例第九條規定，公共藝術是以「平面或立體之藝術品及利用各種技術、媒材製作之藝術創作。」具有「藝術性」與「公共性」的特質；同時，它具有屬於這個空間、這個地點、這個時代的獨特性，並是藉由「藝術家」（藝術創作）、「公共空間」以及「民眾參與」三者，在「政府及專業者」提供適當的支援下，共同開展的「藝術」、「生活」與「文化」之「社會運動」。然而，設置於交通建設之公共藝術，尤其是高速公路的鄰近空間，除了考量作品的「藝術性」與「公共性」，更需優先考量駕駛者之行車安全、行進中之視覺衝擊等，因此高速公路的公共藝術相當獨特。
                        本網站逐一介紹這38件作品，讓有興趣的民眾與用路人能更便利、深入的認識藝術家的作品與創作思維，愉悅地欣賞公共藝術作品及其創作理念。
                    </p>
                </div>
                <div class="content__break"></div>
            </div>
        </div>
    </div>
</div>



<!------------  TOP  -------------->
<div class="toTopBox" onclick="topFunction()">
    <img src="~/Content/images/icon/icon_top.png" alt="to top">
</div>


<script type="text/javascript" src="~/Content/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="~/Content/js/lazyload.min.js"></script>
<script type="text/javascript" src="~/Content/js/slick.min.js"></script>
<script type="text/javascript" src="~/Content/js/jquery.fancybox.min.js"></script>

<script type="text/javascript" src="~/Content/js/app.js"></script>
<script type="text/javascript">
    (function ($) {

       $(".fancybox").fancybox();

        $slickGroup = false;
        slickGroup();


    })($);
    $(window).on('resize', function () {
        slickGroup();
    });


    function slickGroup() {
         var mq = window.matchMedia("(min-width: 767px)");
        console.log('resize')
        if (mq.matches) {
            if (!$slickGroup) {
                 $('.slider-for').slick({
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    fade: true,
                    arrows: false,
                    asNavFor: '.slider-nav'
                });
                $('.slider-nav').slick({
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    asNavFor: '.slider-for',
                    vertical: true,
                    focusOnSelect: true
                    //verticalSwiping: true
                });
                $slickGroup = true;
            }
        } else {
            if ($slickGroup) {
                $('.slider-for').slick('unslick');
                $('.slider-nav').slick('unslick');
                $slickGroup = false;
            }
        }
    }

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

