// 大tab（底線形式）外層增加#underlineTabs 蓋掉原本的bs
#underlineTabs .nav-tabs .nav-link ,#underlineTabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: $gray-600;
    font-size: 20px;
}

#underlineTabs .nav-tabs .nav-item.show .nav-link,
#underlineTabs .nav-tabs .nav-link.active,
#underlineTabs .nav-tabs .nav-item.show .nav-link,
#underlineTabs .nav-tabs .nav-link.active{
    color: $primary;
    background-color: transparent;
    border-color: transparent transparent $primary;
    border-bottom: 4px solid !important;
    font-size: 20px;
}

// 下方標籤小tab (物種瀏覽、空間瀏覽)
.tabs-container {
    width: 100%;
    min-height: 400px;
    // border-radius: 10px 10px 0 0;
    // box-shadow: 0 0 2px rgba(0, 0, 0, 0.225), 0 0 1.5px rgba(0, 0, 0, 0.125);
}

.tabs-pages {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #dee2e6;
}

.tabs-pages:focus,
.tabs-pages:hover {
    cursor: pointer;
}

.tab {
    // width: 33.3%;
    padding: 0.5em 1.2em;
    color: $dark;
    background-color: $white;
    border-radius: 5px 5px 0 0;
    margin-right: 8px;
}

.tab:hover {
    background-color: $gray-100;
}

.tab.active {
    color: $primary;
    background-color: $gray-100;
    margin-bottom: -1px;
    border:1px solid #dee2e6;
    border-bottom:  1px solid $gray-100;
}

.tabs-contents {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.tab-c {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: auto;
    color: black;
    transition: opacity 1s;
    visibility: hidden;
}

.tab-c.active {
    opacity: 1;
    visibility: visible;
}

.inner-content {
    position: relative;
    padding: 1em 0;
}

// 第三層Tab （用vue）
.navbarThird {
    display: flex;
    @include device-sm{
        flex-direction: column;
    }

    li {
        padding-right:16px;
        @include device-sm{

            padding: 4px 0;
        }
        a {
            color: $secondary;
            padding-left: 4px;
        }

        a.active {
            border-left: 6px solid $secondary;
        }
    }
}

.navThirdBody{
    padding-top: 20px;
}