
@{
    ViewBag.Title = "Errorpage";
}


<section class="section-container">
    <div class="content-wrapper">
        <div class="content-heading">
            <div>
                <h3 class="text-danger">上傳檔案錯誤</h3>   
                <small></small>
            </div>
        </div>
        <!-- START row-->
        <div class="row">
            <div class="col-xl-12">
                <form method="post" data-parsley-validate="" novalidate="" enctype="multipart/form-data">
                   
                </form>
            </div>
        </div>
        <!-- END row-->
    </div>
</section>